.st1{
  width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100";
}
.st2{
    width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
}
.st3{
    width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
}
.st4{
    width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
}
.st5{
    width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
}
.st6{
    width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
}
.st7{
    width: 25rem;
}